.main {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    color: white;
}

.promptLable, .stylesLable{
    font-size: 30px;
    font-weight: 700;
}

.promptLable{
    margin-bottom: 15px;
}

.stylesLable{
    margin-top: 30px;
}



.promptInput{
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    width: 100%;
    height: 50px;
}

.styles {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.artstyle {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.styleImg {
    width: 70px;
    height: auto;
    border-radius: 10px;
}

.styleSelected .styleImg {
    border: 2px solid #90F99D; /* Change border color and width as needed */
}

.styleImg:hover{
    cursor: pointer;
}

.generation{
    width: 400px;
    height: 575px;
}

.generateLocation{
    background-color: red;
    width: 100%;
    height: 400px;

}