.loginBlock{
    /* margin-top: 100px; */
    width: 355px;
    height: 524px;
    background: radial-gradient(circle at top, #90F99D , #06CCFD);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionAction{
    color: white;
    font-size: 60px;
    font-weight: 900;
    margin-top: 30px;
}

.inputs{
    margin-top: 15px;
    width: 70%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input{
    background-color: white;
    border: none;
    height: 50px;
    border-radius: 10px;
    padding: 7px;
}

.changeFunction{
    color: white;
    cursor: pointer;
}

.continueButton{
    border: none;
    width: 70%;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    margin-top: 30px;
    transition: background-color 0.3s, color 0.3s;
    
}

.continueButton:hover{
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}